<h1>Train Info</h1>

<div class="row">
	<div id="train-details">
		<h2>Details</h2>
	</div>
	<div id="target-destination">
		<h2>Target Destination</h2>
	</div>
</div>
<div id="prev-station">
	<h2>Previous Station</h2>
</div>
<div id="next-station">
	<h2>Next Station</h2>
</div>