body {
	margin-right: auto;
	margin-left: auto;
	text-align: center;
}
#nav { list-style-type: none; }
#nav li { display: inline-block; margin: 10px; }
.navbar .nav,
.navbar .nav > li {
  float:none;
  display:inline-block;
  *display:inline; /* ie7 fix */
  *zoom:1; /* hasLayout ie7 trigger */
  vertical-align: top;
}
section { margin-top: 20px; }
h1 { margin-bottom: 30px; }
.navbar-inner {text-align:center;}
#train-details, #target-destination, #prev-station, #next-station {
	background-color: #ddd;
	max-width: 400px;
	margin-right: auto;
	margin-left: auto;
}